/* Cabecero */

.cabecero{    
    background: rgb(255, 245, 223);      
}

.cabecero img{
    margin-top: 15px;
    margin-left: 30px;
}

h1{
    display: block;
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    top: 25px;
    left: 33%;
    color: rgb(104, 104, 104);
}

.cabecero hr{    
    
    margin: 0;    
}


/* Contenido principal */

.main-area{
    padding-top: 20px;
    background: linear-gradient(to bottom, rgb(255, 245, 223), rgb(230, 247, 254) 5% 95%);
}

.area-texto-original, .area-texto-modificado{
    width: 720px;    
    margin: 15px auto 0;
}

h2{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}

.caja-texto{
    border-radius: 10px;
    resize: none;
    width: 100%;
    height: 110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border:1px solid rgb(183, 205, 252);
    color: #24246d;
    
}

.caja-texto:focus{
    outline: none !important;
    border:1px solid rgb(166, 194, 254);
    box-shadow: 0 0 10px #719ECE;
}

::placeholder {
    color: #9090d2;    
  }

.warning{
    color: #555555;
    
}

.area-texto-original .botones{    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;    
    
}

.area-texto-modificado .botones{    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    margin: auto;    
   
}

.boton1 {
    background: #6bc6ff;
    background-image: -webkit-linear-gradient(top, #6bc6ff, #17547a);
    background-image: -moz-linear-gradient(top, #6bc6ff, #17547a);
    background-image: -ms-linear-gradient(top, #6bc6ff, #17547a);
    background-image: -o-linear-gradient(top, #6bc6ff, #17547a);
    background-image: linear-gradient(to bottom, #6bc6ff, #17547a);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px #2e2e2e;
    -moz-box-shadow: 0px 1px 3px #2e2e2e;
    box-shadow: 0px 1px 3px #2e2e2e;
    font-family: Georgia;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    border: none;
    width: 140px;
    margin: 0 18px;
  }
  
  .boton1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


/* PIE DE PAGINA */

footer{    
    background-color:#1d211c;
    padding: 25px 0;
    font-size:15px;    
    color:#737373;
    text-align: center;
}

.pie-imagen{
    position: absolute;
    left: 3%;
    
}


.copyright{
    display: inline-block;
    color: white;    
    font-size: 17px;   
    padding: 0 0%;       
}

.pie-socials{
    display: inline-block;
    margin-top: 5%;  

    
}

.pie-socials ul li{
    display: inline-block;    
    margin: 0 15px;
}


@media screen and (max-width:480px) {

header{
    width: auto;        
}

.cabecero .img{
    display: block;
    margin: 0 auto;
}

h1{               
        font-size: 1em;         
        left: 150px;      
        top: 20px;        
}

.main-area{
    width: auto;
}

.area-texto-original, .area-texto-modificado{
    width: auto;   
    margin: 15px 15px;    
}

.caja-texto{        
            width: 100%;
            margin: 0 auto;   
}

.area-texto-original .botones{    
    width: auto;       
}

.boton1{
    width: auto;
}

#limpiar{
    margin: 10px 0 0 110px;
}

.area-texto-modificado .botones{    
    width: 50%;       
}


.pie-imagen{
    margin: 0px 20px;
}
.copyright{
    
    padding: 0 15px;
    
    width: 225px;
}

.pie-socials{
    margin: 30px 0 0 100px
}


}
